report_4gpu_size8192x9182_weak_threaded*.sqlite filter=lfs diff=lfs merge=lfs -text
report_4gpu_size8192x9182_weak_threaded*.nsys-rep filter=lfs diff=lfs merge=lfs -text
report_4gpu_size8192x9182_weak_threaded*.qdstrm filter=lfs diff=lfs merge=lfs -text
